body {
  font-family: "DM Sans", sans-serif;
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px auto;

  .sign-in {
    font-size: 15px;
    text-decoration: none;
    background-color: #0055ba;
    color: white;
    padding: 13px 20px;
    border-radius: 10px;
  }

  .nav-desktop-lists {
    display: flex;
    list-style: none;

    li {
      margin: 0 20px;
      display: inline-flex;

      a {
        text-decoration: none;
        display: flex;
        color: black;
        gap: 8px;
        align-items: center;
      }
    }
  }
}

.jumbo-tron {
  width: 80%;
  display: flex;
  margin: 80px auto;

  .jumbo-new-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 9px 10px;

    .span-new {
      font-size: 11;
      background-color: #0055ba;
      color: white;
      padding: 4px 12px;
      border-radius: 10px;
    }

    .span-mono {
      color: black;
      font-size: 13;
      margin: 0 0 0 10px;
    }
  }

  .jumbo-head {
    font-size: 73px;
  }

  .jumpa-paragraph {
    font-size: 30px;
    margin: 30px 0;
  }

  .jumbo-buttons {
    display: flex;
    .button-one {
      display: flex;
      align-items: center;
      padding: 15px 20px;
      background-color: #0055ba;
      color: white;
      margin: 8px 15px 8px 0;
      border: none;
      font-size: 15px;
      gap: 5px;
      border-radius: 10px;
    }

    .button-two {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 15px;
      background-color: #f5f5f5;
      margin: 8px 0;
      padding: 15px 20px;
      border: none;
    }
  }
}

.truested-by-contain {
  width: 80%;
  margin: 50px auto;
  .trusted-by {
    margin: 50px auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
}

.middle-banner {
  width: 80%;
  margin: auto;

  h1 {
    font-size: 56px;
  }

  p {
    margin: 30px 0;
    font-size: 22px;
  }

  .middle-banner-hero-cards {
    .middle-banner-hero {
      background: url("https://monoassets.com/f/118499/2200x1080/c9632f083f/connect.jpg");
      height: 60vh;
      border-radius: 20px;
      background-size: cover;

      .middle-banner-hero-content {
        width: 85%;
        padding: 80px 60px 120px 0;
        margin: auto;

        h1 {
          color: white;
          font-size: 36px;
          margin: 20px 0;
        }

        p {
          font-size: 18px;
          color: white;
          margin: 30px 0;
        }

        a {
          display: inline-flex;
          align-items: center;
          gap: 10px;
          color: black;
          text-decoration: none;
          background-color: white;
          padding: 15px 20px;
          margin: 30px 0;
          border-radius: 10px;
        }
      }
    }
  }

  .middle-banner-card {
    display: inline-flex;
    gap: 10px;
    margin: 80px 0 0 0;

    .card-one {
      background: url("https://monoassets.com/f/118499/1080x1280/f73f641e15/directpay.jpg");
      padding: 60px 60px 320px;
      width: 45%;
      border-radius: 20px;
      background-size: cover;
      background-repeat: no-repeat;

      a {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        color: white;
        border-radius: 10px;
        background-color: #0055ba;
        margin: 30px 0 0;
        padding: 15px 20px;
        text-decoration: none;
      }

      .in-partner {
        display: flex;
        justify-content: space-around;
        p {
          font-weight: 500;
        }
      }
    }

    .card-two {
      background: url("https://monoassets.com/f/118499/1080x1280/f5a17c8f24/percept.png");
      border-radius: 20px;
      width: 45%;
      color: white;
      padding: 60px 60px 320px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    a {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      color: white;
      text-decoration: none;
      margin: 30px 0 0;
      padding: 19px 20px;
      border-radius: 10px;
      background-color: #202020;
    }
  }
}

// card-component

.started {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 6px;
  background-image: url("https://monoassets.com/f/118499/2161x1907/60ffc90276/getting-started-bg.jpg");
  padding: 18px;

  .started-contain {
    width: 80%;
    margin: 0 auto;
  }

  .startedCards {
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 100%;
    padding: 12px 10px;
  }
}

.featuredCard {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  //   height: 240px;
  border-radius: 12px;
  padding: 12px 10px;
}
.featuredRight {
  width: 380px;
  margin-top: 45px;
  margin-right: 36px;
}

.cardsTxt {
  font-weight: 900;
  font-size: 38px;
  color: black;
}
.cardsLink {
  display: flex;
  align-items: center;
  color: blue;
  font-weight: 600;
  font-size: medium;

  svg {
    width: 24px;
    height: auto;
  }
}

.leftCol {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 18px 10px;
}

.cardsContainer {
  background-color: white;
  width: 33.33%;
  height: 240px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 18px 26px;

  .cardsTxt {
    font-weight: 900;
    font-size: 38px;
    color: black;
  }

  .cardsLink {
    display: flex;
    align-items: center;
    color: blue;
    font-weight: 600;
    font-size: medium;

    svg {
      width: 24px;
      height: auto;
    }
  }

  img {
    width: 45px;
    height: auto;
  }
}

// Row4-card-section

.row4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 130px;
  margin-bottom: 100px;
  h2 {
    color: #000000;
    font-size: 4rem;
    line-height: 15px;
  }
  .Biz_building {
    font-size: 1.85rem;
    line-height: 1px;
    color: #2d2a2a;
    padding-top: 5px;
  }
}

.loan-offers {
  margin: 50px auto;
  padding: 50px 50px 0 50px;
  width: 75%;
  background-color: #f5f5f5;
  border-radius: 20px;
  .loan-offer-contents {
    display: flex;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #9a9a9a;
    padding-bottom: 70px;
  }
  .loan-offer-content1 {
    display: flex;
    justify-content: center;
    .loan-offer-img {
      width: 40%;
      .diamond {
        background-color: #ffffff;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        margin-top: -570px;
        display: flex;
        align-items: center;
        margin-left: 300px;
        img {
          margin-left: 33px;
          width: 50px;
        }
      }
    }
    .loan-offer-text {
      width: 60%;
      * {
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      h1 {
        font-size: 45px;
        margin-bottom: 30px;
      }
      .loan-offer-text1 {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 18px;
        margin-bottom: 30px;
        color: #707070;
        font-weight: 600;
      }
      b {
        font-weight: 800;
        color: #0055ba;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .btn-lending {
    background-color: #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    width: 100px;
    border-radius: 30px;
  }
}
.market-leaders {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 130px;
  margin-bottom: 100px;
  h2 {
    color: #000000;
    font-size: 4rem;
    line-height: 15px;
  }
  .Biz_building {
    font-size: 1.85rem;
    line-height: 1px;
    color: #2d2a2a;
    padding-top: 5px;
  }
}
.quotes {
  width: 80%;
  margin: 50px auto 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  .quote1 {
    width: 50%;
    border-radius: 30px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    .leaders-quote {
      height: 550px;
    }
    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 35px;
      line-height: 50px;
      font-weight: 800;
      margin: auto;
    }
    .article {
      display: flex;
      gap: 30px;
      margin-top: 80px;
      img {
        width: 50px;
      }
      p {
        font-size: 12px;
        line-height: 17px;
      }
      .article-logo {
        position: absolute;
        margin-left: -15px;
        margin-top: 30px;
        width: 20px;
      }
      .article-sec2 {
        display: flex;
        align-items: center;
        p {
          font-size: 16px;
        }
        .role {
          color: #9a9a9a;
          padding-top: 5px;
        }
      }
    }
  }
}

.left-right-arrow {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  .arrow1 {
    display: flex;
    align-items: center;
    gap: 30px;
    p {
      font-size: 25px;
    }
    .dotted-indicator2 {
      color: #e5e5e5;
    }
  }
  .arrow2 {
    display: flex;
    gap: 10px;
    align-items: center;
    .arrow-signal1 {
      color: #9a9a9a;
      font-size: 35px;
    }
    .arrow-signal2 {
      color: #0055ba;
      font-size: 35px;
    }
  }
}

// footer styling
.footer_section {
  background-color: #000000;
  * {
    margin: 0;
    padding: 0;
  }
  .footer_section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0 120px 0;
    h2 {
      color: #ffffff;
      font-size: 54px;
      font-family: sans-serif;
      margin-bottom: 20px;
    }
    p {
      color: #ffffff;
      font-size: 26px;
      font-family: sans-serif;
    }
    .btn_footer_section1 {
      display: flex;
      margin-top: 40px;
      justify-content: center;
      gap: 15px;
      .btn_Start {
        background-color: #0055ba;
        color: #ffffff;
        height: 50px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-family: sans-serif;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
      }
      .btn_talk {
        background-color: #202020;
        color: #ffffff;
        height: 50px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-family: sans-serif;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  .cross_line {
    margin: 50px auto;
    background-color: #303030;
    width: 80%;
  }

  .footer_section2 {
    display: flex;
    justify-content: space-between;
    width: 78%;
    font-family: sans-serif;
    padding: 70px 0;
    border-top-color: #9a9a9a;
    border-top: 0.5px solid #9a9a9a;
    border-bottom: 1px solid #9a9a9a;
    margin: auto;

    h6 {
      color: #9a9a9a;
      margin-bottom: 15px;
      font-size: 15px;
    }
    li a {
      line-height: 40px;
      color: #ffffff;
      list-style: none;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
    }
  }
  .footer_section3 {
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin: auto;
    padding: 40px 0 90px 0;
    font-family: sans-serif;
    .footer-sec-3A {
      color: #ffffff;
      font-weight: 600;
      display: flex;
      gap: 25px;
      img {
        width: 90px;
      }
      span {
        font-size: 13px;
        display: flex;
        align-items: center;
      }
    }
    .footer-sec-3B {
      display: flex;
      gap: 15px;
      color: #9a9a9a;
      font-weight: 500;
      .dot {
        font-size: 5px;
        display: flex;
        align-items: center;
      }
    }
  }
}
.mobile {
  display: none;
}
.mobile-p {
  display: none;
}
.nav-mobile {
  display: none;
}

@media (max-width: 990px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .burger-logo {
    display: block;
    font-size: 50px;
  }
  .burger-content {
    transition: all 0.3s 0s linear;
    position: relative;
    left: 40%;
    width: 55%;
    padding: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px 0px grey;
    li {
      list-style-type: none;
      margin-bottom: 15px;
      a {
        text-decoration: none;
        color: black;
      }
    }

    button {
      padding: 10px 20px;
      margin: 10px 40px;
      background-color: #0055ba;
      color: white;
      border: none;
    }
  }

  .jumbo-tron {
    flex-direction: column;
    .jumbo-head {
      font-size: 40px;
    }
    .jumbo-heading-text,
    .jumbo-images {
      width: 100%;
    }

    .jumpa-paragraph {
      font-size: 20px;
    }
  }

  .jumbo-images {
    img {
      display: none;
    }
  }

  .truested-by-contain {
    width: 80%;
    margin: 50px auto;
    .trusted-by {
      display: flex;
      justify-content: space-between;
      margin: 50px auto;
      flex-wrap: wrap;
      gap: 10px;
      img {
        width: 45%;
      }
    }
  }

  .middle-banner {
    width: 80%;
    margin: auto;
    .mobile {
      width: 98%;
      margin: auto;
      font-size: 42px;
    }

    .middle-banner-hero-content {
      display: flex;
      flex-direction: column;
      gap: 30px;

      img {
        width: 70px;
      }
    }

    h1 {
      font-size: 40px;
    }
  }

  .middle-banner .middle-banner-card .card-one .in-partner {
    flex-direction: column;
  }

  .middle-banner
    .middle-banner-hero-cards
    .middle-banner-hero
    .middle-banner-hero-content {
    width: 100%;
    padding: 10px;
    margin: auto;
    height: 100%;
    a {
      display: block;
      margin: 0px;
      width: 60%;
      // align-items: center;
    }

    p {
      margin: 10px 0px;
    }

    h1 {
      margin: 0px;
    }
  }

  .middle-banner {
    padding: 20px;

    h1 {
      margin: 0px;
    }
    .middle-banner-card {
      margin: 20px;
      flex-direction: column;
      .card-one,
      .card-two {
        width: 100% !important;
        padding: 10px;
      }
    }
  }

  .row4 {
    margin: 20px;
    h2 {
      font-size: 30px;
    }

    .Biz_building {
      .desktop-p {
        display: none;
      }
      .mobile-p {
        display: contents;
        background-color: red;
      }
      font-size: 20px;
      line-height: 0.7cm;
      color: #2d2a2a;
      padding-top: 0px;
    }
  }

  .loan-offers .loan-offer-contents {
    display: block;
    columns: 2;
  }

  .loan-offers {
    width: 80%;
    margin: 0 auto;
  }
  .loan-offers .loan-offer-content1 {
    flex-direction: column-reverse;

    .loan-offer-img,
    .loan-offer-text {
      width: 100%;
      padding: 5px;

      .diamond {
        display: none;
        width: 0px;
      }
      .diamond img {
        margin-left: 0px;
        width: 50px;
        display: none;
      }
    }
    img {
      width: 100%;
    }
  }

  .market-leaders {
    width: 80%;
    padding-top: 40px;
    margin: auto;
    .desktop-p {
      display: none;
    }
    .mobile-p {
      font-size: 30px;
      display: contents;
    }
    h2 {
      font-size: 40px;
      line-height: normal;
      text-align: center;
    }

    .Biz_building {
      line-height: normal;
    }
  }

  .quotes .quote1 .leaders-quote {
    height: 400px;
  }

  .quotes {
    width: 80%;
    margin: 10px auto;
    flex-direction: column;
    gap: 20px;
  }

  .quotes .quote1 {
    width: 100%;
    padding: 10px;

    p {
      font-size: 23px;
      line-height: normal;
      font-weight: 600;
    }

    .article {
      margin-top: 0px;
    }
  }

  .featuredCard {
    display: flex;
    width: 98%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .featuredRight {
    width: 98%;
    margin: auto;
  }

  .leftCol {
    display: block;
    text-align: center;

    .cardsTxt {
      font-size: 20px;
    }
  }

  .started .startedCards {
    flex-direction: column;
    // align-items: center;
    gap: 6px;
    width: 100%;
    padding: 12px 10px;
  }

  .cardsContainer {
    width: 80%;
    margin: 0 auto;
  }

  .footer_section .footer_section1 {
    padding: 30px;

    h2 {
      font-size: 35px;
      text-align: center;
    }

    p {
      font-size: 19px;
      margin: 15px 0;
    }
  }

  .footer_section .footer_section1 .btn_footer_section1 {
    margin-top: 20px 5px;
  }

  .footer_section .footer_section2 {
    flex-wrap: wrap;
    width: 80%;
    padding: 20px;
    margin: auto;
  }

  .footer_section .footer_section3 {
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 20px;
    gap: 20px;
  }
}
