body {
  font-family: "DM Sans", sans-serif;
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}
.nav-desktop .sign-in {
  font-size: 15px;
  text-decoration: none;
  background-color: #0055ba;
  color: white;
  padding: 13px 20px;
  border-radius: 10px;
}
.nav-desktop .nav-desktop-lists {
  display: flex;
  list-style: none;
}
.nav-desktop .nav-desktop-lists li {
  margin: 0 20px;
  display: inline-flex;
}
.nav-desktop .nav-desktop-lists li a {
  text-decoration: none;
  display: flex;
  color: black;
  gap: 8px;
  align-items: center;
}

.jumbo-tron {
  width: 80%;
  display: flex;
  margin: 80px auto;
}
.jumbo-tron .jumbo-new-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 9px 10px;
}
.jumbo-tron .jumbo-new-link .span-new {
  font-size: 11;
  background-color: #0055ba;
  color: white;
  padding: 4px 12px;
  border-radius: 10px;
}
.jumbo-tron .jumbo-new-link .span-mono {
  color: black;
  font-size: 13;
  margin: 0 0 0 10px;
}
.jumbo-tron .jumbo-head {
  font-size: 73px;
}
.jumbo-tron .jumpa-paragraph {
  font-size: 30px;
  margin: 30px 0;
}
.jumbo-tron .jumbo-buttons {
  display: flex;
}
.jumbo-tron .jumbo-buttons .button-one {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #0055ba;
  color: white;
  margin: 8px 15px 8px 0;
  border: none;
  font-size: 15px;
  gap: 5px;
  border-radius: 10px;
}
.jumbo-tron .jumbo-buttons .button-two {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  background-color: #f5f5f5;
  margin: 8px 0;
  padding: 15px 20px;
  border: none;
}

.truested-by-contain {
  width: 80%;
  margin: 50px auto;
}
.truested-by-contain .trusted-by {
  margin: 50px auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.middle-banner {
  width: 80%;
  margin: 0 auto;
}
.middle-banner h1 {
  font-size: 56px;
}
.middle-banner p {
  margin: 30px 0;
  font-size: 22px;
}
.middle-banner .middle-banner-hero-cards .middle-banner-hero {
  background: url("https://monoassets.com/f/118499/2200x1080/c9632f083f/connect.jpg");
  height: 90vh;
  border-radius: 20px;
  background-size: cover;
}
.middle-banner .middle-banner-hero-cards .middle-banner-hero .middle-banner-hero-content {
  width: 85%;
  padding: 80px 60px 120px 0;
  margin: auto;
}
.middle-banner .middle-banner-hero-cards .middle-banner-hero .middle-banner-hero-content h1 {
  color: white;
  font-size: 36px;
  margin: 20px 0;
}
.middle-banner .middle-banner-hero-cards .middle-banner-hero .middle-banner-hero-content p {
  font-size: 18px;
  color: white;
  margin: 30px 0;
}
.middle-banner .middle-banner-hero-cards .middle-banner-hero .middle-banner-hero-content a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 15px 20px;
  margin: 30px 0;
  border-radius: 10px;
}
.middle-banner .middle-banner-card {
  display: inline-flex;
  gap: 10px;
  margin: 80px 0 0 0;
}
.middle-banner .middle-banner-card .card-one {
  background: url("https://monoassets.com/f/118499/1080x1280/f73f641e15/directpay.jpg");
  padding: 60px 60px 320px;
  width: 45%;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
.middle-banner .middle-banner-card .card-one a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: white;
  border-radius: 10px;
  background-color: #0055ba;
  margin: 30px 0 0;
  padding: 15px 20px;
  text-decoration: none;
}
.middle-banner .middle-banner-card .card-one .in-partner {
  display: flex;
  justify-content: space-around;
}
.middle-banner .middle-banner-card .card-one .in-partner p {
  font-weight: 500;
}
.middle-banner .middle-banner-card .card-two {
  background: url("https://monoassets.com/f/118499/1080x1280/f5a17c8f24/percept.png");
  border-radius: 20px;
  width: 45%;
  color: white;
  padding: 60px 60px 320px;
  background-size: cover;
  background-repeat: no-repeat;
}
.middle-banner .middle-banner-card a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  margin: 30px 0 0;
  padding: 19px 20px;
  border-radius: 10px;
  background-color: #202020;
}

.started {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-image: url("https://monoassets.com/f/118499/2161x1907/60ffc90276/getting-started-bg.jpg");
  padding: 18px;
}
.started .started-contain {
  width: 80%;
  margin: 0 auto;
}
.started .startedCards {
  display: flex;
  justify-content: center;
  gap: 6px;
  width: 100%;
  padding: 12px 10px;
}

.featuredCard {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  border-radius: 12px;
  padding: 12px 10px;
}

.featuredRight {
  width: 380px;
  margin-top: 45px;
  margin-right: 36px;
}

.cardsTxt {
  font-weight: 900;
  font-size: 38px;
  color: black;
}

.cardsLink {
  display: flex;
  align-items: center;
  color: blue;
  font-weight: 600;
  font-size: medium;
}
.cardsLink svg {
  width: 24px;
  height: auto;
}

.leftCol {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 18px 10px;
}

.cardsContainer {
  background-color: white;
  width: 33.33%;
  height: 240px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 18px 26px;
}
.cardsContainer .cardsTxt {
  font-weight: 900;
  font-size: 38px;
  color: black;
}
.cardsContainer .cardsLink {
  display: flex;
  align-items: center;
  color: blue;
  font-weight: 600;
  font-size: medium;
}
.cardsContainer .cardsLink svg {
  width: 24px;
  height: auto;
}
.cardsContainer img {
  width: 45px;
  height: auto;
}

.row4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 130px;
  margin-bottom: 100px;
}
.row4 h2 {
  color: #000000;
  font-size: 4rem;
  line-height: 15px;
}
.row4 .Biz_building {
  font-size: 1.85rem;
  line-height: 1px;
  color: #2d2a2a;
  padding-top: 5px;
}

.loan-offers {
  margin: 50px auto;
  padding: 50px 50px 0 50px;
  width: 75%;
  background-color: #f5f5f5;
  border-radius: 20px;
}
.loan-offers .loan-offer-contents {
  display: flex;
  gap: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #9a9a9a;
  padding-bottom: 70px;
}
.loan-offers .loan-offer-content1 {
  display: flex;
  justify-content: center;
}
.loan-offers .loan-offer-content1 .loan-offer-img {
  width: 40%;
}
.loan-offers .loan-offer-content1 .loan-offer-img .diamond {
  background-color: #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  margin-top: -570px;
  display: flex;
  align-items: center;
  margin-left: 300px;
}
.loan-offers .loan-offer-content1 .loan-offer-img .diamond img {
  margin-left: 33px;
  width: 50px;
}
.loan-offers .loan-offer-content1 .loan-offer-text {
  width: 60%;
}
.loan-offers .loan-offer-content1 .loan-offer-text * {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.loan-offers .loan-offer-content1 .loan-offer-text h1 {
  font-size: 45px;
  margin-bottom: 30px;
}
.loan-offers .loan-offer-content1 .loan-offer-text .loan-offer-text1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  margin-bottom: 30px;
  color: #707070;
  font-weight: 600;
}
.loan-offers .loan-offer-content1 .loan-offer-text b {
  font-weight: 800;
  color: #0055ba;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.loan-offers .btn-lending {
  background-color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 14px;
  width: 100px;
  border-radius: 30px;
}

.market-leaders {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 130px;
  margin-bottom: 100px;
}
.market-leaders h2 {
  color: #000000;
  font-size: 4rem;
  line-height: 15px;
}
.market-leaders .Biz_building {
  font-size: 1.85rem;
  line-height: 1px;
  color: #2d2a2a;
  padding-top: 5px;
}

.quotes {
  width: 80%;
  margin: 50px auto 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.quotes .quote1 {
  width: 50%;
  border-radius: 30px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.quotes .quote1 .leaders-quote {
  height: 550px;
}
.quotes .quote1 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 800;
  margin: auto;
}
.quotes .quote1 .article {
  display: flex;
  gap: 30px;
  margin-top: 80px;
}
.quotes .quote1 .article img {
  width: 50px;
}
.quotes .quote1 .article p {
  font-size: 12px;
  line-height: 17px;
}
.quotes .quote1 .article .article-logo {
  position: absolute;
  margin-left: -15px;
  margin-top: 30px;
  width: 20px;
}
.quotes .quote1 .article .article-sec2 {
  display: flex;
  align-items: center;
}
.quotes .quote1 .article .article-sec2 p {
  font-size: 16px;
}
.quotes .quote1 .article .article-sec2 .role {
  color: #9a9a9a;
  padding-top: 5px;
}

.left-right-arrow {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.left-right-arrow .arrow1 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.left-right-arrow .arrow1 p {
  font-size: 25px;
}
.left-right-arrow .arrow1 .dotted-indicator2 {
  color: #e5e5e5;
}
.left-right-arrow .arrow2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.left-right-arrow .arrow2 .arrow-signal1 {
  color: #9a9a9a;
  font-size: 35px;
}
.left-right-arrow .arrow2 .arrow-signal2 {
  color: #0055ba;
  font-size: 35px;
}

.footer_section {
  background-color: #000000;
}
.footer_section * {
  margin: 0;
  padding: 0;
}
.footer_section .footer_section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0 120px 0;
}
.footer_section .footer_section1 h2 {
  color: #ffffff;
  font-size: 54px;
  font-family: sans-serif;
  margin-bottom: 20px;
}
.footer_section .footer_section1 p {
  color: #ffffff;
  font-size: 26px;
  font-family: sans-serif;
}
.footer_section .footer_section1 .btn_footer_section1 {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 15px;
}
.footer_section .footer_section1 .btn_footer_section1 .btn_Start {
  background-color: #0055ba;
  color: #ffffff;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.footer_section .footer_section1 .btn_footer_section1 .btn_talk {
  background-color: #202020;
  color: #ffffff;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.footer_section .cross_line {
  margin: 50px auto;
  background-color: #303030;
  width: 80%;
}
.footer_section .footer_section2 {
  display: flex;
  justify-content: space-between;
  width: 78%;
  font-family: sans-serif;
  padding: 70px 0;
  border-top-color: #9a9a9a;
  border-top: 0.5px solid #9a9a9a;
  border-bottom: 1px solid #9a9a9a;
  margin: auto;
}
.footer_section .footer_section2 h6 {
  color: #9a9a9a;
  margin-bottom: 15px;
  font-size: 15px;
}
.footer_section .footer_section2 li a {
  line-height: 40px;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
.footer_section .footer_section3 {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin: auto;
  padding: 40px 0 90px 0;
  font-family: sans-serif;
}
.footer_section .footer_section3 .footer-sec-3A {
  color: #ffffff;
  font-weight: 600;
  display: flex;
  gap: 25px;
}
.footer_section .footer_section3 .footer-sec-3A img {
  width: 90px;
}
.footer_section .footer_section3 .footer-sec-3A span {
  font-size: 13px;
  display: flex;
  align-items: center;
}
.footer_section .footer_section3 .footer-sec-3B {
  display: flex;
  gap: 15px;
  color: #9a9a9a;
  font-weight: 500;
}
.footer_section .footer_section3 .footer-sec-3B .dot {
  font-size: 5px;
  display: flex;
  align-items: center;
}

@media (max-width: 990px) {
  .jumbo-images {
    display: none;
  }
}
@media (max-width: 990px) {
  body {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */